<!DOCTYPE html>
<html>
<!-- (based off of W3.CSS Template)-->
<title>ersatzspaghetti</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Balsamiq+Sans">

<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Balsamiq Sans", sans-serif;}



.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/ersatz.png");
  min-height: 100%;
}
</style>

<body>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white w3-hide-small" style="font-size:120px;-webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black; left:50%; top:85%;">ersatzspaghetti</span>
    <span class="w3-text-white w3-hide-large w3-hide-medium" style="font-size:60px"><b>ersatz spaghetti</b></span>
  </div>
  <div class = "textbox" style="position:absolute; left:40%; top:65%;width:300px;" align="center">
    <form method="POST" action="/parse">
      <button type="submit" style="width: 500px; height: 100px;font-size:40px;">click for copypasta!</button>

    </form>
  </div>
</header>


</body>
</html>
