<!DOCTYPE html>
<html>
<!-- (based off of W3.CSS Template)-->
<title>ersatzspaghetti</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Balsamiq+Sans">

<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Balsamiq Sans", sans-serif;}



.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/ersatz2.png");
  min-height: 100%;
}
</style>

<body>

  <header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <span class="w3-text-white w3-hide-small" style="font-size:40px;-webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black; width:700px; position:absolute; left:30%; top:15%;text-align: center;">{{ words }}</span>
        <div style="width:500px; top:5%; left:40%; position:absolute; margin:auto;">
          <audio controls="controls" >
            <source src= {{ track_mp3 }} type="audio/mpeg" />
          Your browser does not support this audio element (mp3).
          </audio>
        </div>
  </header>
</body>
